body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 35px;
}
.h1-color{
    color: rgb(226, 168, 59);
}
.flexiable-container{
    display: flex;
    margin-bottom: 120px;
    justify-content:space-around;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
img{
    margin-top: 10px;
    height: 600px;
    width: 600px;
    border-radius: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.expertise{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.box-decoration{
    width: 35%;
    background-image:  linear-gradient(155deg, rgba(104, 206, 218, 0.15), transparent);
    box-shadow: 20px 40px 60px rgba(0, 0, 0, .1), inset 0 0 0 2px rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 1rem;
}
#border1{
    border-left: 10px solid;
    border-image: linear-gradient(rgb(252, 173, 28), rgb(201, 91, 71));
    border-image-slice: 1;
}
#border2{
    border-left: 10px solid;
    border-image: linear-gradient(rgb(54, 54, 224), skyblue);
    border-image-slice: 1;
}
.experience{
    background-image: url(images/undraw_Graduation_re_gthn.svg), url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: none, left;
    background-size: cover, auto;
    filter: blur(0.50px);
    padding: 150px 0;
}
footer p{
    text-align: center;
}